# Default values for prometurbo.
# This is a YAML-formatted file.
# Declare variables to be passed into your templates.

# Replace the image with desired version
image:
  promerepository: turbonomic/prometurbo
  prometag: 6.4dev
  apprepository: turbonomic/appmetric
  apptag: 6.4dev
  pullPolicy: IfNotPresent

#nameOverride: ""
#fullnameOverride: ""

# Turbo server version and address
serverMeta:
  version: 6.4
  turboServer: https://Turbo_server_URL

# Turbo server api user and password
# The opsManagerUserName requires Turbo administrator role
restAPIConfig:
  opsManagerUserName: Turbo_username
  opsManagerPassword: Turbo_password

prometurboTargetConfig:
  targetAddress: http://prometheus.istio-system:9090
  scope: prometheus

args:
  # logging level
  logginglevel: 2
