apiVersion: apps/v1
kind: Deployment
metadata:
  name: {{ include "prometurbo.fullname" . }}
  labels:
    app.kubernetes.io/name: {{ include "prometurbo.name" . }}
    helm.sh/chart: {{ include "prometurbo.chart" . }}
    app.kubernetes.io/instance: {{ .Release.Name }}
    app.kubernetes.io/managed-by: {{ .Release.Service }}
spec:
  replicas: {{ .Values.replicaCount }}
  selector:
    matchLabels:
      app.kubernetes.io/name: {{ include "prometurbo.name" . }}
      app.kubernetes.io/instance: {{ .Release.Name }}
  template:
    metadata:
      annotations:
      {{- with .Values.annotations }}
      {{- toYaml . | nindent 8 }}
      {{- end }}
      labels:
        app.kubernetes.io/name: {{ include "prometurbo.name" . }}
        app.kubernetes.io/instance: {{ .Release.Name }}
    spec:
      serviceAccountName: {{ .Values.serviceAccountName }}
{{- if .Values.image.imagePullSecret }}
      imagePullSecrets:
        - name: {{ .Values.image.imagePullSecret }}
{{- end }}
      containers:
        - name: {{ .Chart.Name }}
          image: {{ .Values.image.prometurboRepository }}:{{ .Values.image.prometurboTag }}
          imagePullPolicy: {{ .Values.image.pullPolicy }}
          args:
          - --v={{ .Values.args.logginglevel }}
          resources:
{{ toYaml .Values.resources | indent 12 }}
          ports:
          - containerPort: 8081
          volumeMounts:
            - name: prometurbo-config
              mountPath: /etc/prometurbo
              readOnly: true
        - name: turbodif
          image: {{ .Values.image.turbodifRepository }}:{{ .Values.image.turbodifTag }}
          imagePullPolicy: {{ .Values.image.pullPolicy }}
          env:
            - name: "TURBODIF_TARGET_TYPE_OVERWRITE"
              value: "Prometheus"
          args:
          - --v={{ .Values.args.logginglevel }}
{{- if .Values.args.ignoreCommodityIfPresent }}
          - --ignoreCommodityIfPresent=true
{{- end }}
{{- if .Values.args.discoveryIntervalSec }}
          - --discovery-interval-sec={{ .Values.args.discoveryIntervalSec }}
{{- end }}
          resources:
{{ toYaml .Values.resources | indent 12 }}
          volumeMounts:
          - name: turbodif-config
            mountPath: /etc/turbodif
            readOnly: true
          - name: turbonomic-credentials-volume
            mountPath: /etc/turbonomic-credentials
            readOnly: true
          - name: varlog
            mountPath: /var/log
      volumes:
      - name: prometurbo-config
        configMap:
          name: prometurbo-config-{{ .Release.Name }}
      - name: turbodif-config
        configMap:
          name: turbodif-config-{{ .Release.Name }}
      - name: turbonomic-credentials-volume
        secret:
          defaultMode: 420
          optional: true
          secretName: {{ .Values.restAPIConfig.turbonomicCredentialsSecretName | quote }}
      - name: varlog
        emptyDir: {}
      restartPolicy: Always
